name: Generate Snake
permissions: 
  contents: write

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      # Generate the snake
      - uses: Platane/snk/svg-only@v3
        with:
          github_user_name: prothesbarai
          outputs:
            dist/github-snake-dark.svg

      # Post-process the SVG to adjust colors
      - name: Modify SVG for dark mode
        run: |
          sed -i 's/fill="#ffffff"/fill="none" stroke="#4f4f4f" stroke-width="1"/g' dist/github-snake-dark.svg

      # Check the status of changes
      - run: git status

      # Push changes
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: master
          force: true

      - uses: crazy-max/ghaction-github-pages@v2.1.3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
